<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org
http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table style="border: 1px solid black">
  <tr th:each="showflowers: ${flowersVariable}">
    <td th:text="${showflowers}"/>
  </tr>
</table>

<table style="border: 1px solid black">
  <tr th:each="showCity: ${CityVariable}">
    <td th:text="${showCity}"/>
  </tr>
</table>
</body>
</html>
